@page
@model EmployeeManagement.Pages.Positions.CreateModel
@{
    ViewData["Title"] = "Додати нову посаду";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Position.Name" class="control-label">Назва посади</label>
        <input asp-for="Position.Name" class="form-control" />
        <span asp-validation-for="Position.Name" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a asp-page="./Index" class="btn btn-secondary">Скасувати</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}